<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="IE104.O12_Nhom2">
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/ico-logo-blue.png">
    <link rel="stylesheet" href="/styles/admin/pages/error.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <title><%= title %></title>
</head>

<body>
    <div class="grid-container">
        <%- include('../partials/sidebar_admin') %>
        <%- include('../partials/header_admin', {title: {title: 'Lỗi'} }) %>

        <main class="main-container">
            <div class="error-container">
                <div class="error-icon">
                    <span class="material-symbols-rounded">error</span>
                </div>
                <h1><%= title %></h1>
                <p><%= message %></p>
                <a href="/admin" class="btn-primary">Quay lại trang chủ</a>
            </div>
        </main>
    </div>

    <script src="/scripts/admin/index_admin.js"></script>
</body>
</html>
